/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "";
  padding-right: 0.3em;
}

.loginBox {
  margin-top: 50px;
  min-width: 50vw;
  max-width: 90vw;
}

.registerForm {
  margin-top: 50px;
  min-width: 80vw;
  max-width: 90vw;
}

.intoRegister {
  margin: 10px;
}

.loginBotton {
  margin-top: -18px;
  flex: flow;
  
}

md-nav-bar md-nav-ink-bar {
  color: rgb(5, 49, 194);
  background-color: rgb(5, 49, 194);
}