<md-toolbar>
  <h2 class="md-toolbar-tools"><span>Agenda de eventos</span></h2>
</md-toolbar>
<wizard indicators-position="top"  on-finish="createEvent(event, start)" on-cancel="closeModal()" class="eventForm"> 
  <wz-step wz-title="Evento" canexit="validation">
    <form name="event-form" >
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <label>Nombre del Evento</label>        
          <input type="text" name="title" ng-model="event.title" required>
        </md-input-container>
      <md-input-container>
        <div layout="row" layout-align="space-between center">
          <span>Seleccione la sala</span>
          <md-select ng-model="event.room" placeholder="Sala" class="md-no-underline">
            <md-option value="Sala principal">Sala principal</md-option>
            <md-option value="Sala paris">Sala paris</md-option>
            <md-option value="Sala Corona">Sala Corona</md-option>
            <md-option value="Sala central">Sala central</md-option>
          </md-select>
        </div>      
      </md-input-container>
      <div layout="row" layout-align="center center">
        <md-button wz-next class="md-raised md-primary">Siguiente</md-button>
      </div>
      </md-content>
    </form>
  </wz-step>
  <wz-step  wz-title="Descripción">
    <form name="event-form">
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <textarea id="tinyId" ui-tinymce="tinymceOptions" ng-model="event.tinymceModel"></textarea>
        </md-input-container>
        <div layout="row" layout-align="center center">   
          <md-button wz-previous class="md-raised md-primary">Atras</md-button>
          <md-button wz-next class="md-raised md-primary">Siguiente</md-button>
        </div>
      </md-content>
    </form>
  </wz-step>
  <wz-step wz-title="Resumen">
    <form name="event-form">
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <h2>Evento: {{event.title}}</h2>
          <p>Sala: {{event.room}}</p>
          <p>Fecha: {{event.start}}</p>
          <p>Descripción: {{ event.tinymceModel | removeHtml }}</p>
        </md-input-container>
        <div layout="row" layout-align="center center">  
          <md-button wz-previous class="md-raised md-primary">Atras</md-button>
          <md-button type="submit" wz-next class="md-raised md-primary">Finalizar</md-button>
        </div>
      </md-content>
    </form>
  </wz-step>
</wizard>